*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* :root{
    --primary-pink:rgb(255, 255, 255);
    --white:rgb(255, 255, 255);
} */

/* Auth Page  */
.AuthPage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthPage form{
    width: 75%;
    max-width: 350px;
    max-height: 400px;
    height: 75%; 
    border-radius: .5em;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
}
.AuthPage form .inputSec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    max-height: 50px;
}

.AuthPage form .inputSec input{
    padding: 10px;
    width: 90%; 
    border: none;
    outline: none;
    border-radius: 2px;
}

.AuthPage form .btn-sec{ 
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.AuthPage form button{
    padding: 10px 20px;
    width: 40%;
    border-radius: 5px;  
    border: 1px solid white;
    
    font-weight: 900;
    cursor: pointer;
    transition: all .3s;
}
.AuthPage form button:active{
    transform: scale(.9);
}
.AuthPage form button:hover{
    filter: brightness(.9);
}
.AuthPage form .link-btn{ 
    text-align: end;  
    background-color: var(--white); 
}

/* Auth Page Ending */




/* Header section */

.homepage{
    width: 100%; 
    display: flex;
    align-items: start;
    padding: 3em 0;
    justify-content: space-evenly;
    height: 100vh;
}
.header{
    width: 100%;
    height: 80px;
    display: flex; 
    justify-content: center;
    background: var(--primary-pink);
    align-items: center;
}
a.logo{
    font-weight: 900;
    text-decoration: none;
   color:black;
    font-size: 1.5em; 
}

/* Header section ending */

 
/* Connected peoples */

.connectedPeople{ 
    width: 30%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.372);
    padding: 1em;
    text-align: center;
    height: 90%; 
    max-width: 300px;  
    border-radius: .5em;
    margin: 1em;
   max-height: 500px;
} 
.cpbox{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    border: 1px solid white;
    padding: .6em;
    margin: auto;
    border-radius: .4em;
    height: 60px;
    background-color: #fff;
    color: black;
}
.cptitle{
    margin-bottom: 1em;
}
.cpbox:hover{
    border: 1px solid ;
}
.cpbox img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
/* End of cp */




/* feed sec */
.feed{
    width: 40%;
    max-width: 600px;   
   height:fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center; 
}



/* end of feed sec */

/* post */

.post{
    width: 100%;
    border-radius: 10px;
    min-height: 350px;
    margin-bottom: 5em; 
    max-width:400px;
    border: 1px solid ;  
}
.post .post-head{
    width: 100%;
    height:10%;
    display: flex;
    max-height: 70px;
    padding: 1em; 
    align-items: center;
    gap: 1em;
    font-size: 1.1em; 
}
.post .post-head img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius:50%;
}
.post .post-body{
    width: 100%;
    height: 60%;
}
.post .post-body p{
    padding: 0 .8em;
}
.post .post-body img{ 
    height: 100%;
    width: 100%;
}
.post .post-footer{
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    min-height: 60px;
}
.post .post-footer span{
    cursor: pointer;
}
/* end of post */


/* seekpeople */

.seekpeople{
    width: 30%;
    height: 75%;
    border-radius: .5em;
    display: flex;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.372);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}
.sptitle{
    margin-top: .4em;
    margin-bottom: .9em; 
}
.seekpeople input{
    padding: 10px 20px;
    width: 90%;
    border-radius: 25px;
    border: 1px solid;
    font-size: 1.1em; 
    outline: none;
}
.seekedpeople{
    width: 100%; 
overflow-y: scroll;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.seekbox{
    width: 90%;
    height: 75px;
    border-radius: .5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 1px solid ;
    padding: .7em;
}
.p-info{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content:start;
    align-items: center;
}
.seekbox button{
    padding: 5px 20px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.seekbox button:hover{
    border: 1px solid;
    background: white;
    color: black;
}
.seekbox img{
    width:50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
}
/* end of seek people */

@media screen and (max-width:1100px) {
    .connectedPeople{
        display: none;
    }
    .seekpeople{
        display: none;
    }
    .feed{
        width: 90%;
    }
}