*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
}
/* :root{
    --primary-pink:rgb(255, 255, 255);
    --white:rgb(255, 255, 255);
} */

/* Auth Page  */
.AuthPage{
    width: 100%;
    height: 100vh;
    max-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthPage form{
    width: 75%;
    max-width: 350px;
    max-height: 400px;
    height: 75%; 
    border-radius: .5em;
    display: flex;
   background-color: #fff;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
}
.AuthPage form .inputSec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    max-height: 50px;
}

.AuthPage form .inputSec input{
    padding: 10px;
    width: 90%; 
    border: none;
    border-bottom: 1px solid;
    outline: none;
    border-radius: 2px;
}

.AuthPage form .btn-sec{ 
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.AuthPage form button{
    padding: 10px 20px;
    width: 40%;
    border-radius: 5px;   
    border: 1px solid white; 
    font-weight: 900;
    cursor: pointer;
    transition: all .3s;
}
 
.AuthPage form button:active{
    transform: scale(.9);
}
.AuthPage form button:hover{
    filter: brightness(.9);
}
.AuthPage form .link-btn{ 
    text-align: end;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8em;
    background-color: var(--white); 
}

/* Auth Page Ending */




/* Header section */

.homepage{
    width: 100%; 
    display: flex;
    max-width: 1300px;
    margin: auto;
    align-items: start;
    padding: 3em 0;
    justify-content: space-evenly;
    height: 100vh;
}
.header{
    width: 100%;
    background-color: #fff;
    height: 80px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.logo{
    font-weight: 900;
    text-decoration: none;
   color:black;
    font-size: 1.9em; 
}

/* Header section ending */

 
/* Connected peoples */

.connectedPeople{ 
    width: 30%; 
    padding: 1em;
    background-color: #fff;
    text-align: center;
    height: 90%; 
    max-width: 300px;  
    border-radius: .5em;
    margin: 1em;
   max-height: 500px;
} 
.cpbox{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer; 
    padding: .6em;
    margin: auto;
    border-radius: .4em;
    height: 60px;
    background-color: #ebebeb;
    color: black;
}
.cptitle{
    margin-bottom: 1em;
}
 
.cpbox img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
/* End of cp */




/* feed sec */
.feed{
    width: 40%;
    max-width: 600px;   
   height:fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center; 
}



/* end of feed sec */

/* post */

.post{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    min-height: 350px;
    margin-bottom: 5em; 
    max-width:400px; 
}
.post .post-head{
    width: 100%;
    height:10%;
    display: flex;
    max-height: 70px;
    padding: 1em; 
    align-items: center;
    gap: 1em;
    font-size: 1.1em; 
}
.post .post-head img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius:50%;
}
.post .post-body{
    width: 100%;
    height: 60%;
}
.post .post-body p{
    padding: 0 .8em;
}
.post .post-body img{ 
    height: 100%;
    width: 100%;
}
.post .post-footer{
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    min-height: 60px;
}
.post .post-footer span{
    cursor: pointer;
}
/* end of post */


/* seekpeople */

.seekpeople{
    width: 30%;
    height: 75%;
    border-radius: .5em;
    background-color: #fff;
    max-width: 400px;
    display: flex; 
    max-height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}
.sptitle{
    margin-top: .4em;
    margin-bottom: .9em; 
}
.seekpeople input{
    padding: 10px 20px;
    width: 90%;
    border-radius: 25px;
    border: 1px solid;
    font-size: 1.1em; 
    outline: none;
}
.seekedpeople{
    width: 100%; 
overflow-y: scroll;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.seekedpeople::-webkit-scrollbar{
    width: 5px;
}
.seekedpeople::-webkit-scrollbar-thumb{
    background:rgb(202, 202, 202);
}
.seekbox{
    width: 90%;
    height: 75px;
    border-radius: .5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3em; 
    background-color: #ebebeb;
    padding: .7em;
}
.p-info{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content:start;
    align-items: center;
}
.seekbox button{
    padding: 5px 20px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.seekbox button:hover{ 
    background: white;
    color: black;
}
.seekbox img{
    width:50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
}


/* end of seek people */

@media screen and (max-width:1100px) {
    .connectedPeople{
        display: none;
    }
    .seekpeople{
        display: none;
    }
    .feed{
        width: 90%;
    }
}